@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,600;1,700&family=Montserrat:ital,wght@0,400;0,500;0,700;1,100;1,400;1,800&family=Rasa:ital,wght@0,400;0,700;1,500;1,700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Rasa', serif;
font-family: 'Work Sans', sans-serif;
}

.navbar{
    display: flex;
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
max-height: 130px;
max-width: 1920px;

}
.nav-img{
    width: 80px;
    height: 40px;
    margin-right: 10px;
    margin-left: 100px;
    margin-top: 40px;
    
}
.nav-title{
    font-size: 2.5em;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 30px;
margin-top: 30px;
color:#0B0223;

}
.nav-G{
    font-size: 1.25em;
font-style: normal;
font-weight: 700;
line-height: normal;
color: #FF42A5;
}
.nav-div{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.list{
    display: flex;
    margin-left: 450px;
    align-items: center;
}
nav li{
    list-style: none;
    color: #3C354F;
font-size: 1.0em;
font-style: normal;
font-weight: 500;
line-height: normal;
    
}

#ab{
    margin-right: 30px;
}

#dev{
    margin-right: 30px;
}

#follow{
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
padding: 15px;
display: flex;
}
#yt{
    width: 25px;
    height: 19px;
    padding-left: 10px;
}
#tktk{
    padding-left: 10px;
    height: 20px ;
}
nav li a{
    text-decoration: none;
}
.banner{
    display: flex;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}

.banner-list{
    list-style: none;
    display: flex;
    padding-left: 65px;
}
.banner-list img{
    padding-right: 10px;
    width: 20px;
    padding-bottom: 5px;
}
.banner-title{
    padding-top: 80px;
    color: #0B0223;
text-align: center;
font-size: 3em;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
padding-left: 100px;
}
#goat{
    text-align: center;
font-size: 2.0em;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.banner-img{
    width: 40%;
    padding-left: 300px;
}
.sign-btn{
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
border:0;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
color: #FFF;
font-size: 1.25em;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
margin-left: 100px;
margin-right: 20px;
margin-top: 20px;
}
.rogue-btn{
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
border:0;
background: #4EC5F7;
color: #FFF;
font-size: 1.25em;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}

.online-title{
    color: #0B0223;
text-align: center;
font-size: 3em;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-top: 50px;
}
#funny-vid{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 1em;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 0px;
}
.online-description{
    color: #534C64;
text-align: center;
font-size: 1em;
font-style: normal;
font-weight: 400;
margin-top: 0px;
padding-bottom: 10px;
line-height: 30px;
}
.online-img-container{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: space-between;
}
.online-img-container img{
    width: 250px;
}
.online-img-des-container{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: space-between;

}
.online-img-des-container p{
    color: #534C64;
font-size: 0.75em;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 150% */
width: 340px;
}

.play-sec{
    display: flex;
    margin-top: 50px;
}
.play-content{
    margin-left: 200px;
    margin-top: 100px;
    
}
#play-instantly{
    display: inline-flex;
    text-align: right;
    font-size: 1.75em;
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
#no-downloads{
    text-align: right;
    font-size: 1.75em;
    font-style: normal;
    font-weight: 700;
color:#0B0223;
}
 #no-installs{
    text-align: right;
    font-size: 1.75em;
    font-style: normal;
    font-weight: 700;
color:#0B0223;
}
.play-des{
    width: 300px;
    color: #534C64;
text-align: right;
font-size: 0.95em;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.play-img-container{
position: relative;
bottom:0;
right:0;
margin-left: 300px;
}
.horse{
    width: 400px;
    position: relative;
    bottom:0;
    right:0;
}
.angela{
    width: 200px;
    position: relative;
    bottom: 150px;
    right: 50px;
}
.games-list{
    display: flex;
    margin-left: px;
    
}
.games-list img{
    width: 30px;
    padding-left: 10px;
}
.games-list div{
    border-radius: 50px;
background:#FFF;
/* width: 500px; */
height: 60px;
display: flex;
align-items: center;
}
.games-list li{
    list-style: none;
padding-left: 20px;
margin-left: 0px;
margin-right: 0px;
color: #0B0223;
font-size: 1em;
display: flex;
width: 200px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.games-list div:hover{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
border: #FF42A5 solid 2px;
border-radius: 50px;
width: 250px;

}

.games-list2 img{
    width: 30px;
    padding-left: 10px;
}
.games-list2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 30px;
    
}
.games-list2 li{
    list-style: none;
padding-left: 20px;
margin-left: 0px;
margin-right: 0px;
color: #0B0223;
font-size: 1em;
display: flex;
width: 800px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.games-list2 div{
    border-radius: 50px;
background:#FFF;
width: 220px;
height: 60px;
display: flex;
align-items: center;
}
.games-list2 div:hover{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
border: #FF42A5 solid 2px;
border-radius: 50px;

}
.footer-div{
    background: #0B0223;
}
.footer{
    display: flex;
    
    align-items: center;
}
.footer-icon{
    margin-left: 500px;
}
.footer-title{
    color: #FFF;
    text-align: center;
    margin-left: 10px;
font-size: 3em;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.footer-list{
    display: flex;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 250px;
}
.footer-list li{
    list-style: none;
    color: #FFF;
text-align: center;
font-size: 1em;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.footer-list li a{
    text-decoration: none;
}
.footer-icon-container{
    justify-content: space-between;
    align-items: center;
}
.footer-icon-container img{
    width: 30px;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}
.footer-icon1{
    margin-left: 600px;
}
.footer-icon2{
    margin-right: 50px;
    margin-left: 50px;
}
.footer-p{
    display: flex;
    justify-content: space-between;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 30px;
}
.footer-p li{
    list-style: none;
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 0.75em;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.last-footer{
    display: flex;
    margin-left: 500px;
    margin-right: 500px;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 50px;
    background-color: #0B0223;
}
.last-footer li{
    list-style: none;
    color: rgba(255, 255, 255, 0.60);
font-size: 0.75em;
font-style: normal;
font-weight: 500;
line-height: normal;
}


@media screen and (max-width: 576px) {
    
    .navbar{
        background: none;
        box-shadow: none;
    }
    .nav-div{
        flex-direction: column;
        align-items: flex-start;
    }
    .list{
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        align-self: center;
        margin: 0;
        padding: 0;
        padding-top: 10px;
    }
    #ab{
        margin: 0;
        margin-bottom: 20px;
    }
    #dev{
        margin: 0;
        margin-bottom: 10px;
    }
    #follow{
        margin: 0;
       align-self: flex-start;
    }
    .banner-img{
        width: 100%;
        padding-left: 0;
    }

    .banner{
        flex-direction: column;
        grid-template-areas: 
        "banner-img"
        "banner-title"
        "banner-ul";
    }
    .banner-title{
        padding: 30px;
        margin-left: 90px;
        margin-top: 100px;
        align-items: center;
        font-size: 2em;
    }

    .rogue-btn,
    .sign-btn
    {
        padding: 10px;
    }
    .online-img-container{
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    .online-img-des-container{
        display: none;
    }
    .play-content{
        padding: 0px;
    }
}
